.container {
    margin: 150px 200px;
    width: 850px;
    height: 1000px;
    border: 5px solid;
    background-clip: padding-box;
    background-image: url(../image/images.jpeg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    overflow: auto;

}

.main {
    margin: auto;
    object-fit: contain;
    padding: 20px;
    background-attachment: fixed;
    overflow: auto;
}